body {
  height: 400vh;
  background-color: black;
  color: white;
}

.header-section {
  margin: 100px auto 0;
}

svg {
  max-width: 600px;
  overflow: visible;
  margin-top: 60vh;
  padding-left: 20%;
}

.ball {
  /* fill: white; */
  fill: rgba(251, 108, 108, 0.549);
  visibility: hidden;
}

.line {
  /* stroke: black; */
  fill: none;
  /* stroke: white; */
  stroke-width: 2px;
  stroke: rgb(251, 108, 108);
}

text {
  fill: white;
  font-size: 15px;
  font-family: "Signika Negative", sans-serif; 
  visibility: hidden;
}